In [11]:
import pandas as pd

In [12]:
#import excel file

df = pd.read_excel(
    'E.coli MG1655 selection glpD protein BLAST.xlsx'
)
df.head()

,Hit,Description,Total score,Max score,Min E-value,Max %Identity
0,WP_032214530,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.370,00","2.370,00","0,00","99,60"
1,WP_032262628,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,40"
2,WP_001652212,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,80"
3,WP_096976506,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,80"
4,WP_032294862,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.368,00","2.368,00","0,00","99,60"

In [13]:
df.iloc[0].Description

'glycerol-3-phosphate dehydrogenase [Escherichia coli]'

In [31]:
#write a function to extract the text from the square brackets 

def extract_from_square_brackets(text: str) -> str:
    """
    Returns a substring with the words inside square brackets

    Examples
    --------

    >>> extract_from_square_brackets('hello [world]!')
    'world'

    >>> extract_from_square_brackets('what a marvelous [day] it is.')
    'day'
    
    """
    start = text.index('[') + 1
    end = text.index(']')
    substring = text[start:end]
    return substring
    


extract_from_square_brackets('glycerol-3-phosphate dehydrogenase [Escherichia coli]')

'Escherichia coli'

In [15]:
# write the text from the square brackets into a new 'Species' column
df['Species'] = df.Description.apply(extract_from_square_brackets)
df.head()

,Hit,Description,Total score,Max score,Min E-value,Max %Identity,Species
0,WP_032214530,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.370,00","2.370,00","0,00","99,60",Escherichia coli
1,WP_032262628,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,40",Escherichia coli
2,WP_001652212,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,80",Escherichia coli
3,WP_096976506,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,80",Escherichia coli
4,WP_032294862,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.368,00","2.368,00","0,00","99,60",Escherichia coli

In [16]:
df.iloc[0]

Hit                                                   WP_032214530
Description      glycerol-3-phosphate dehydrogenase [Escherichi...
Total score                                               2.370,00
Max score                                                 2.370,00
Min E-value                                                   0,00
Max %Identity                                                99,60
Species                                           Escherichia coli
Name: 0, dtype: object

In [17]:
#write the first name of the Species column into a new 'Genus' column
df['Genus'] = [x.split()[0] for x in df['Species']]

In [18]:
df.head()

,Hit,Description,Total score,Max score,Min E-value,Max %Identity,Species,Genus
0,WP_032214530,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.370,00","2.370,00","0,00","99,60",Escherichia coli,Escherichia
1,WP_032262628,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,40",Escherichia coli,Escherichia
2,WP_001652212,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,80",Escherichia coli,Escherichia
3,WP_096976506,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,80",Escherichia coli,Escherichia
4,WP_032294862,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.368,00","2.368,00","0,00","99,60",Escherichia coli,Escherichia

In [19]:
#save the dataframe as an excel column
df.to_excel('GlpD Genus column test.xlsx', index=False)

In [15]:
df_countgenus = df["Genus"].value_counts()

In [16]:
df_countgenus

Pseudomonas              1916
Vibrio                   1037
Escherichia               871
Acinetobacter             729
Rhizobium                 690
                         ...
Yonghaparkia                1
Hyella                      1
Allosaccharopolyspora       1
Litoricola                  1
Intestinirhabdus            1
Name: Genus, Length: 908, dtype: int64

In [19]:
df_top50 = df_countgenus.iloc[:49]

In [20]:
df_top50

Pseudomonas          1916
Vibrio               1037
Escherichia           871
Acinetobacter         729
Rhizobium             690
Burkholderia          654
Bradyrhizobium        619
Mesorhizobium         354
Klebsiella            353
Aeromonas             306
Stenotrophomonas      299
Enterobacter          248
Xanthomonas           245
Sphingomonas          242
Bacillus              221
Paraburkholderia      213
Agrobacterium         199
Salmonella            184
Nocardia              177
Pantoea               163
Serratia              145
Methylobacterium      145
Brucella              134
Paracoccus            131
Photobacterium        123
Marinobacter          116
Halomonas             115
Ruegeria              114
Thalassospira         112
Legionella            106
Citrobacter           102
Sinorhizobium         100
Yersinia               99
Janthinobacterium      99
Novosphingobium        96
Massilia               91
Pectobacterium         83
Pseudoalteromonas      81
Acetobacter            72
Variovorax             70
Sphingobium            70
Bartonella             69
Ralstonia              67
Herbaspirillum         64
Rhodococcus            63
Alteromonas            63
Ensifer                58
Gluconobacter          57
Sulfitobacter          56
Name: Genus, dtype: int64

In [20]:
#import the excel file containing the full phylogenetic information for all bacterial genera
dfphylo = pd.read_excel(
    'Full Taxonomie.xlsx'
)
dfphylo.head()

,Domain,Phylum,Class,Subclass,Order,Suborder,Family,Genus
0,Archaea,Crenarchaeota,Thermoprotei,NaN,Acidilobales,NaN,Acidilobaceae,Acidilobus
1,Archaea,Crenarchaeota,Thermoprotei,NaN,Acidilobales,NaN,Caldisphaeraceae,Caldisphaera
2,Archaea,Crenarchaeota,Thermoprotei,NaN,Cenarchaeales,NaN,Cenarchaeaceae,Cenarchaeum
3,Archaea,Crenarchaeota,Thermoprotei,NaN,Desulfurococcales,NaN,Desulfurococcaceae,Aeropyrum
4,Archaea,Crenarchaeota,Thermoprotei,NaN,Desulfurococcales,NaN,Desulfurococcaceae,Desulfurococcus

In [23]:
#merge the Blast result dataframe and the dataframe containing phylogenetic information for all bacteria by the Genus column and create a new dataframe

df_merged = pd.merge(
    left=df, 
    right=dfphylo[['Genus','Family','Order','Class',]], 
    left_on='Genus', 
    right_on='Genus',
)
df_merged.head()

,Hit,Description,Total score,Max score,Min E-value,Max %Identity,Species,Genus,Family,Order,Class
0,WP_032214530,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.370,00","2.370,00","0,00","99,60",Escherichia coli,Escherichia,Enterobacteriaceae,Enterobacterales,Gammaproteobacteria
1,WP_032262628,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,40",Escherichia coli,Escherichia,Enterobacteriaceae,Enterobacterales,Gammaproteobacteria
2,WP_001652212,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,80",Escherichia coli,Escherichia,Enterobacteriaceae,Enterobacterales,Gammaproteobacteria
3,WP_096976506,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.369,00","2.369,00","0,00","99,80",Escherichia coli,Escherichia,Enterobacteriaceae,Enterobacterales,Gammaproteobacteria
4,WP_032294862,glycerol-3-phosphate dehydrogenase [Escherichi...,"2.368,00","2.368,00","0,00","99,60",Escherichia coli,Escherichia,Enterobacteriaceae,Enterobacterales,Gammaproteobacteria

In [24]:
#save the merged dataframe as an excel file
df_merged.to_excel('GlpD final.xlsx', index=False)

In [25]:
df_countfamily = df_merged["Family"].value_counts()

In [27]:
df_countfamily

Pseudomonadaceae      1961
Enterobacteriaceae    1953
Vibrionaceae          1258
Rhodobacteraceae      1217
Rhizobiaceae          1142
                      ...
Thiolineaceae            1
Hymenobacteraceae        1
Ancalomicrobiaceae       1
Roseiarcaceae            1
Sphaerobacteraceae       1
Name: Family, Length: 122, dtype: int64

In [30]:
df_countfamily.to_excel('GlpD family count.xlsx')